# Build
target/

# Misc
.DS_Store
.vscode/
.idea/
logs/

# Env
.env*
!.env.example

# Terraform
.terraform/
.terraform.lock.*
*.tfstate
*.tfstate.*

*.tfvars
*.tfvars.json

override.tf
override.tf.json
*_override.tf
*_override.tf.json

.terraformrc
terraform.rc