# Build
target/

# Configuration
.DS_Store
.vscode/*
!.vscode/settings.json
.idea/

# Misc
logs/
certs/

# Localisation support
!.vscode/i18n-ally-custom-framework.yml

# Env
.env*
!.env.example

# Terraform
.terraform/
.terraform.lock.*
*.tfstate
*.tfstate.*

*.tfvars
*.tfvars.json

override.tf
override.tf.json
*_override.tf
*_override.tf.json

.terraformrc
terraform.rc