Config (
	discord_token: "discord bot token",
	database_url: "postgres://server:server@localhost/server",
	google_client: ("XXX.apps.googleusercontent.com", "client secret"),

	logs_webhook: "discord webhook url",

	port: 3000,
	production: false,
	log_level: "info",
)