{% extends "_base" %}
{% block title %}Oups!{% endblock %}

{% block head %}{% endblock %}

{% block content %}
	<h1>Oups!</h1>
	<p>
		The requested ressource is missing: <code>{{ressource_path}}</code>
	</p>
{% endblock %}