{% extends "_base.jinja" %}

{% block title %}Oups!{% endblock %}

{% block head %}{% endblock %}

{% block content %}
	<h1>Oups!</h1>
	<p>There was a server error : <code>{{ error_message }}</code></p>
{% endblock %}