<div style="display: flex; align-items: center; justify-content: space-around;">
	<img src="/images/discord-smp-link-logo.png" style="width: 200px;" />
	<span style="font-size: 40px; margin: 0 5%;">+</span>
	<img src="/images/smp-logo.png" style="width: 200px;" />
</div>