{% extends "_base" %}

{% block title %}Contact{% endblock %}
{% block head %}{% endblock %}

{% block content %}
	<p>You can contact me on Discord at (someid)</p>
	<p>Or by mail at <a href="mailto:somemail@gmail.com">somemail@gmail.com</a></p>
{% endblock %}
