{% extends "_base" %}

{% block title %}Contact{% endblock %}
{% block head %}{% endblock %}

{% block content %}
	<p>You can contact <code>WiroWorld#3995</code> on Discord or mail me at <a href="mailto:discord.link@icloud.com">discord.link@icloud.com</a></p>
{% endblock %}
